<template name="rates">

    <div id="rates">
        <h2>Rates</h2>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3">Therapeutic Massage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">60 Minutes</td>
                    <td>$90</td>
                </tr>
                <tr>
                    <td colspan="2">75 Minutes</td>
                    <td>$110</td>
                </tr>
                <tr>
                    <td colspan="2">90 Minutes</td>
                    <td>$130</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Packages</strong></td>
                </tr>
                <tr>
                    <td>60 Minutes</td>
                    <td>5 pack</td>
                    <td>$460</td>
                </tr>
                <tr>
                    <td>60 Minutes</td>
                    <td>10 pack</td>
                    <td>$800</td>
                </tr>
                <tr>
                    <td>90 Minutes</td>
                    <td>5 pack</td>
                    <td>$600</td>
                </tr>
                <tr>
                    <td>90 Minutes</td>
                    <td>10 pack</td>
                    <td>$1150</td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th colspan="3">Prenatal Massage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2">60 Minutes</td>
                <td>$100</td>
            </tr>
            <tr>
                <td colspan="2">75 Minutes</td>
                <td>$120</td>
            </tr>
            <tr>
                <td colspan="2">90 Minutes</td>
                <td>$140</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Packages</strong></td>
            </tr>
            <tr>
                <td>60 Minutes</td>
                <td>5 pack</td>
                <td>$460</td>
            </tr>
            <tr>
                <td>60 Minutes</td>
                <td>10 pack</td>
                <td>$875</td>
            </tr>
            <tr>
                <td>90 Minutes</td>
                <td>5 pack</td>
                <td>$650</td>
            </tr>
            <tr>
                <td>90 Minutes</td>
                <td>10 pack</td>
                <td>$1225</td>
            </tr>
            </tbody>
        </table>
    </div>

</template>