<template name="therapeutic">

    <div id="therapeutic">
        <h2 class="splash-header-therapeutic">Customized Therapeutic Massage</h2>
        <p>Because sessions are designed for your individual needs, we do not ask you to choose from a standard services menu. When we meet for the first time, we will discuss which techniques are most relevant to your physical and mental goals. These techniques include, but are not limited to, trigger point therapy, myofascial release, swedish & relaxation-based massage, sports massage, PNF techniques, Thai Massage, medical massage, hot stone work, aromatherapy/essential oils, and Shiatsu. Some of our therapists are more trained than others in some of these techniques, so if you're looking for one modality in particular, let us know before you book your session and we'll try and match you with the therapist most experienced in that area.</p>
    </div>

</template>