<template name="instructors">

    <div id="instructors">
        <h2>Our Instructors</h2>
    </div>

    <div class="spacer"></div>

    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/ellie.gif">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Ellie Aaron, Prenatal Yoga Instructor</h4>
            <p>Ellie Aaron is a passionate teacher that transformed her life through studying yoga, meditation, and holistic health. Certified from the Urban Yoga Foundation, Yogaworks-200 Hour Training, and the OM 500 hour Certification with Cyndi Lee, she has been teaching yoga for over three years and adores it. She is also a certified Holistic Health coach from the Institute for Integrative Nutrition and coaches clients in creating a healthy, vibrant, and joyful lifestyle. She is also a certified Meditation instructor through the OM Meditation Teacher training program. Ellie credits yoga and meditation with changing her life by transforming feelings of anxiety and self doubt to confidence and joy in her body and mind. Ellie is also the creator of the new podcast "The Ellie Aaron Hour" that digs deep into her favorite things (yoga, meditation, good vegan food, movies, philosophy, comedy, spirituality and more). <a href="http://www.ellieaaron.com">EllieAaron.com</a></p>
        </div>
    </div>


    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/jennifer.gif">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Jennifer Azlant, Yoga Instructor</h4>
            <p>Jennifer Azlant, B.A., M.A., RYT, is a certified instructor of Vinyasa, Restorative, Prenatal, and Yin Yoga and has been a student and practitioner of yoga since 2002. Drawing on her continued studies of asana, philosophy, and anatomy, Jennifer aims to foster awareness of the body, curiosity in the mind, a sense of ease in the breath, and joy in the practice at large. She feels particularly grateful for the perpetual and non-linear study of yoga, her teachers and students, and the opportunity to join the Melt Massage & Bodywork community. <a href="http://www.jenniferazlant.com">www.jenniferazlant.com</a></p>
        </div>
    </div>


    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/naima.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Naima Beckles, Childbirth Education</h4>
            <p>Naima is a Lamaze Certified Childbirth Educator, DONA trained birth doula and postpartum doula, and mother to two little boys. She was drawn to the field of childbirth after being cared for by amazing perinatal health professionals - a community that she hardly knew existed before giving birth for the first time in 2008. Before entering the field of childbirth, Naima was a secondary classroom teacher for ten years. She brings her love of teaching, creative spirit, and warm presence to Melt Massage & Bodywork and hopes to inspire families to make their best informed decisions around pregnancy, labor and early parenting.</p>
        </div>
    </div>



    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/laura.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Laura Collins, Childbirth Education</h4>
            <p>Laura Collins is a Licensed Clinical Social Worker, CEA/MNY Cooperative Childbirth Educator and mother. She teaches childbirth education at Melt and is in private practice in Park Slope, where she focuses on prenatal, postpartum and couples counseling. She spent 7 years at Gouverneur Healthcare Services as a clinical supervisor and dedicated member of the Family Therapy Program and Parent-Infant Program. Laura is trained in Psychoanalytic Psychotherapy from NYSPP and received her M.S. in Social Work from Columbia University School of Social Work. With care, empathy and warmth, Laura aims to equip people with the evidenced-based information and resources they need to make informed decisions regarding birth and beyond. <a href="http://lcollinslcsw.blogspot.com">lcollinslcsw.blogspot.com</a></p>
        </div>
    </div>



    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/danf.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Dan Flores, Total Body Strength</h4>
            <p>Dan is a Master Resistance Training Specialist with an expertise in exercise prescription and biomechanics. Growing up as the grandson of a legendary bodybuilding pioneer, Dan was greatly inspired and went to find success in collegiate and professional football. After competing his athletic career, he entered the competitive NYC fitness market. 13 years later, Dan is still helping people transform their bodies and change their lives. He focuses on appropriately challenging the body with specific movements that maximizes the benefits while unlocking your body's potential. A resident of Bed-Stuy, Dan is returning to his Brooklyn roots where his career began.</p>
        </div>
    </div>


    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/sarah.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Sarah Long, Yoga Instructor</h4>
            <p>Sarah became a certified yoga teacher in the Anusara style of yoga in 2007 through the World Yoga Center. Sarah loves sharing the joy and peace that yoga can bring students, as well as the healing aspects of the practice. Sarah has been bringing yoga to at-risk populations for the past four years and worked for the Lineage Project teaching yoga to incarcerated teenagers. She has trained with Karma Kids, The School for Compassionate Action, and Street Yoga. Sarah is also an LMSW and fulltime family therapist with the New York Foundling.</p>
        </div>
    </div>



    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/coriel.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Coriel O'Shea Gaffney, Yoga Instructor</h4>
            <p>Coriel O'Shea Gaffney is delighted to be joining the Melt Massage & Bodywork community. She has completed two 200-hour Yoga Alliance certified Teacher Trainings — through Yoga to the People and Kula Yoga Project — and continues to seek out anatomy, philosophy and meditation workshops and retreats to keep her informed and evolving. Coriel also holds an MFA in Creative Writing. She lives in Bed-Stuy with her husband and sometimes a mouse or two. <a href="http://www.corielogaffney.com">www.corielogaffney.com</a></p>
        </div>
    </div>


    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/ashley.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Ashley Richmond, Pilates Mat Instructor</h4>
            <p>Prioritizing healthy biomechanics, Ashley weaves together intelligent movement sequences that refine awareness, build strength and flexibility and enhance coordination. She has been studying and cultivating her teaching aesthetic for the past 15 years. During her professional dance training, she studied Anusara Yoga, Alexander, Feldenkrais and Klien techniques in-depth and now utilize these methods in her teaching. Her teaching is informed and influenced by extensive study and inspired by her personal practice.</p>
        </div>
    </div>



    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/Lisa.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Lisa Schoenholt, Pilates Instructor</h4>
            <p>Lisa became certified in Pilates in 2001 with the Ron Fletcher Pilates method. She holds a MA in Dance Education from New York University and a BFA in Dance along with a BA in Education from the University of Arizona. In 2007, she obtained her CMA, certified movement analyst degree from the Laban Institute of Movement Studies. Lisa brings her extensive knowledge of anatomy, dance, movement analysis, and yoga into her instruction. She has taught Pilates throughout the United States as well as Europe and has designed Pilates, yoga, meditation, and nutrition programs for multiple NYC public high schools. In the past two years, she has founded her own business, <a href="http://www.brooklynembodied.com">Brooklyn Embodied.</a></p>
        </div>
    </div>


    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/angelica.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Angelica Thornhill, Pilates Mat Instructor</h4>
            <p>Angelica started practicing Pilates in 2006 and was immediately hooked after realizing it relieved her lower back and knee pain. Her classes stick to the original classical Pilates exercises, focusing first and foremost on form and body alignment. Always striving to help you advance further, you are sure to feel stronger, more toned, and more flexible, even after only a few classes.</p>
        </div>
    </div>



    <div class="media">
        <div class="media-left">
            <img class="media-object headshot" src="therapists/roma.jpg">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Roma van der Walt, Body Sculpt Instructor</h4>
            <p>Roma van der Walt is a former Member of the German national team for Modern Pentathlon who has made her passion her work. She focuses on making exercise fun, diverse and stimulating emotionally and physically to ensure the sustainability of her clients' progress. She is a firm believer in positive encouragement and working together to help people embrace the joy of healthy living. Roma draws from disciplines such as traditional conditioning, cardio, strength, yoga, martial arts, chi kung and dance. With the knowledge from her Masters degree in sports science, her experience as an elite athlete and the desire to see everyone leave class with a smile, Roma will help you sculpt your body and feel and look your best. For more info you can visit <a href="http://www.chittawellness.com">chittawellness.com</a></p>
        </div>
    </div>

</template>