<template name="philosophy">

    <div id="philosophy">
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading">Our Philosophy</h2>
                <p>We call ourselves a massage and bodywork studio, as we tend to steer away from the spa template, and instead put all of our focus on the massage itself. Regardless of what you've come in for, our approach is always thoughtful and completely focused on you.</p>
                <p>Communicating with clients and aiming to understand what they're hoping to get out of their session is one of our highest priorities. We don't believe that a neck and shoulder massage should cost any different than a full body. If your issues beg for heat, we may integrate a heat pack or some hot stones into your session. If you come in to address only your left shoulder, we will try to gain a full picture of the issue, discuss the various ways to treat it, and assess any potentially related areas. We have many techniques and modalities to choose from within our repertoires, and they are all a part of our customized therapeutic massage.
                </p>
            </div>
        </div>
    </div>

</template>