<template name="space">

    <div id="space">
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading">Our Space</h2>
                <p>We are very excited and proud of our new space. We put great emphasis on creating a warm and comfortable environment designed to make you feel at home. Our space has multiple treatment rooms as well as a classroom space where we will be holding Pilates and yoga classes, and various workshops geared toward expectant families and people who suffer from various types of body pain and discomfort.</p>
            </div>
        </div>
    </div>

</template>