<template name="prenatal">

    <div id="prenatal">
        <h2 class="splash-header-prenatal">Prenatal Massage</h2>
        <p><a href="http://www.metro.us/news/what-to-know-about-prenatal-massages/tmWldp---cer3I6145r1E/">Read our interview in Metro about prenatal massage.</a></p>
        <p>Among the many momentous things about pregnancy are the significant mental, physiological, and spiritual changes a woman experiences. Massage can be an effective complementary form of prenatal healthcare, offering moms-to-be a wide range of benefits. Prenatal massage can alleviate stress and promote relaxation, reduce swelling and high blood pressure, relieve musculoskeletal pain and strain, contribute to shorter, less painful labor, and facilitate postpartum recovery. And depending on each woman's own experience in her pregnancy, there is an even wider range of benefits.</p>

        <p>We spend time before each session trying to learn as much as possible about your unique situation, and as your pregnancy progresses, we shape the massage according to whatever your specific issues are at that time.</p>
    </div>

</template>