<template name="classDescriptions">

    <div id="classes">
        <h2>Class Descriptions</h2>





        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">




            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Prenatal Yoga
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>$18 per Class</p>
                        <p>Mondays 6:45pm - 8:00pm, Saturdays 12:00 - 1:15 pm with Jennifer</p>
                        <p>Thursdays, 8:00pm - 9:15pm with Ellie</p>
                        <p>This class will focus on strengthening and toning the muscles of the pelvic floor, as well as opening the hips to prepare for childbirth. The class will be geared towards strengthening the legs to comfortably support the extra weight of the baby. It will incorporate some vinyasa flow to help circulate the blood and to remove unwanted toxins away from the body and the baby. This class will also give special attention to stretching the low back, as the weight of the belly can cause discomfort and compression of the lower lumbar during pregnancy. <a href="about/#instructors">Learn more about Ellie and Jennifer.</a></p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Open Level Yoga
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>$18 per Class</p>
                        <p>Sundays 10:00am - 11:30am with Sarah</p>
                        <p>This class is geared toward students who wish to practice mindfully. We will explore postures in detail. Transitions will be smooth and conscientious. Instruction will be attentive to alignment. Students will be invited to meet some challenges and enjoy a whole lot of reprieve. Each class will feature a targeted, physical sequence as well as meditation and pranayama (breathing) exercises. This class is appropriate for new and seasoned practitioners. <a href="about/#instructors">Learn more about Sarah</a></p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Restorative Yoga
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>By Donation | Suggested donation: $15</p>
                        <p>Thursdays 6:45pm - 7:45pm with Ellie</p>
                        <p>Restorative yoga is a delicious surrender into quiet, supported postures on bolsters, blankets and blocks. The practice facilitates deep release in connective tissue and calms the nervous system" so as to relieve the effects of chronic stress (Om Factory NYC). Various meditation strategies, pranayama (breath) exercises and relevant readings will be offered to invite ease and compassionate reflection. This class is appropriate for anyone seeking serenity and rejuvenation. <a href="about/#instructors">Learn more about Ellie</a>.</p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>






            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Yin Yoga
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p>By Donation | Suggested donation: $15</p>
                        <p>Mondays 8:15pm - 9:30pm with Yves</p>
                        <p>This slow paced and highly therapeutic style of Yoga is designed to complement a more active and stimulating exercise routine. With the use of long held postures, usually lasting between five and ten minutes per pose, and the carefully guided application of moderate stress on the joints, tendons, and ligaments, Yin Yoga helps to release deep tension in connective tissue structures and works to ease myofascial restrictions such as trigger points or knots, resulting in increased flexibility, range of motion, and circulation. As with all other styles of Yoga, emphasis is placed on mindful breathing techniques and contemplative self inquiry. The unique benefits of Yin Yoga also improve the flow of Qi through the body's meridians increasing vitality, immunity, and overall well-being. </p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>






            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Pilates Mat
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <p>$20 per Class</p>
                        <p>Tuesdays 6:45pm - 7:45pm with Alicia</p>
                        <p>Wednesdays 10:00am - 11:00am with Ashley</p>
                        <p>Fridays 7:30pm - 8:30pm with Angelica</p>
                        <p>Saturdays 9:30am - 10:30am & 10:45am - 11:45am with Lisa</p>
                        <p>Join us for an hour of Pilates conditioning to lengthen, strengthen, and tone the body. The class will focus on learning the Pilates mat work and re-teaching the abdominal muscles how to engage in the most effective way, improving posture and bringing the body back into correct alignment. All levels are welcome!</p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>






            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Cardio Cross Training
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <p>$20 per Class</p>
                        <p>Fridays 12:30pm - 1:30 pm, Saturdays 4:30pm - 5:30 pm with Roma</p>
                        <p>"Nothing to prove — just move" is the motto in Roma's group class that combines elements from disciplines such as athletic conditioning, martial arts, yoga, dance, and many more. The class focuses on working different areas of your body efficiently, sculpting and lengthening important muscle groups, and ensuring proper alignment. You will work with other participants and also individually at a pace that works for different ages and levels of fitness. Roma will guide you through a 60-minute workout that will leave you energized, glowing, with great posture, and a little sore. <a href="about/#roma">Learn more about Roma</a>.</p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Total Body Strength
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        <p>$20 per Class</p>
                        <p>Tuesdays 8:00pm - 8:50 pm, Thursdays 6:15am - 7:05am with Dan</p>
                        <p>A full body experience that implements a combination of strategic body weight and resistance band movements designed to challenge, strengthen and build a stronger you. With energizing music in the background, class begins with a warm up, followed by strength movements and ends with a cool down stretch. All levels are welcome. <a href="about/#dan">Learn more about Dan</a>.</p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>






            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            Feldenkrais Classes: Child'Space NYC
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        <p>$20 per Class</p>
                        <p><a href="http://childspacenyc.com/category/classes/registration/">Child'Space NYC</a> is a unique, joyful program for babies and their parents or caregivers. Child'Space Method fosters new connections between parent and child through touch and through teaching parents hands-on techniques to support their babies' development. Classes are available for babies and caregivers from 5 weeks to toddlers. Private sessions are available for babies as young as newborns, and for toddlers and older children to address developmental concerns and special needs. </p>
                        <p>Contact Dan:</p>
                        <p>danrindler@gmail.com
                        <br>347-406-4464
                        <br><a href="http://www.childspacenyc.com">ChildSpaceNYC.com</a>
                        <br><a href="http://www.brooklynfeldenkrais.com">brooklynfeldenkrais.com</a></p>
                    </div>
                </div>
            </div>






        </div>
    </div>

</template>