<template name="workshops">

    <div id="workshops">
        <h2>Workshops</h2>





        <div class="panel-group" id="accordionWkshp" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionWkshp" href="#collapseWkshpOne" aria-expanded="true" aria-controls="collapseWkshpOne">
                            SteadyRoll with Stephanie Severe: A Foam Rolling Workshop
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseWkshpOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWkshpOne">
                    <div class="panel-body">
                        <p>Sunday, February 8th, 6:00pm - 7:30 pm</p>
                        <p>Sunday, March 1st, 6:00pm - 7:30 pm</p>
                        <p>$25 pre-register | $60 includes a Foam Roller</p>
                        <p>SteadyRoll is a 90-minute workshop focused on awakening your deep intrinsic muscles, tapping into your center, and working towards full body symmetry.</p>
                        <p>Utilizing a foam roller we'll work through slow and controlled movements, deep diaphragmatic breathing and stretching. We'll research the areas of your body that are holding tension and draining your energy. By way of releasing overactive tissues, you'll create more flow and a deeper understanding of the way you move through your world.</p>
                        <p>Whether you're a runner, yogi, spend hours at a desk each week, or are recovering from and injury, SteadyRoll is designed to create more space, energy, and freedom in your body.</p>
                        <p>Stephanie Severe is a NASM and ACSM Certified Personal Trainer, NASM Corrective Exercise Specialist, and Qoya Instructor. She works passionately with clients in all stages of life to create balance in their bodies through strength, stability, and finding joy through movement.</p>
                        <p><a href="http://stephaniesevere.com/">Learn more about Stephanie</a></p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingWkshpTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionWkshp" href="#collapseWkshpTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Partnered Thai Massage Workshop with Yves
                            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseWkshpTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWkshpTwo">
                    <div class="panel-body">
                        <p>Saturday, February 14th, 6:00 - 8:00 pm</p>
                        <p>Sunday, February 15th, 6:00 - 8:00 pm</p>
                        <p>$50 per pair</p>
                        <p>If you don't have a person to accompany you to the workshop, email us (<a href="mailto:info@meltmassagenyc.com">info@meltmassagenyc.com</a>) to let us know you are interested and we will do our best to match with you other individuals hoping to attend.</p>
                        <p>Thai massage is a deeply relaxing yet invigorating style of massage that incorporates passive stretching, joint mobility and pressure applied to energetic pathways along the body. The effects can be felt in minutes and will inspire hours of balanced, relaxed energy long after a treatment. In this workshop, Yves will guide students through the graceful, dance-like movements essential to this divine practice.</p>
                        <p>The workshop will focus on promoting deep relaxation and restful sleep, addressing issues such as anxiety, digestive discomfort, and aches and pains brought on by the demands of daily life. It will incorporate techniques to relax and gently mobilize both the upper and lower body.</p>

                        <p>Traditional Thai Massage is practiced on the floor, on a padded mat for comfort, without the use of lotions or oils. Participants should come dressed in loose fitting, comfortable clothing that allows for movement.</p>
                        <p><a href="about/#yves">Learn more about Yves</a></p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>



        </div>
    </div>

</template>