<template name="classDescriptions">

    <div id="classes">
        <h2>Class Descriptions</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Prenatal Yoga
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>$18 per Class</p>
                        <p>Mondays 6:45pm - 8:00pm, Saturdays 12:00 - 1:15 pm with Jennifer</p>
                        <p>Thursdays, 8:00pm - 9:15pm with Ellie</p>
                        <p>This class will focus on strengthening and toning the muscles of the pelvic floor, as well as opening the hips to prepare for childbirth. The class will be geared towards strengthening the legs to comfortably support the extra weight of the baby. It will incorporate some vinyasa flow to help circulate the blood and to remove unwanted toxins away from the body and the baby. This class will also give special attention to stretching the low back, as the weight of the belly can cause discomfort and compression of the lower lumbar during pregnancy. <a href="about/#instructors">Learn more about Ellie and Jennifer.</a></p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Open Level Yoga
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>$18 per Class</p>
                        <p>Sundays 10:00am - 11:30am with Sarah</p>
                        <p>This class is geared toward students who wish to practice mindfully. We will explore postures in detail. Transitions will be smooth and conscientious. Instruction will be attentive to alignment. Students will be invited to meet some challenges and enjoy a whole lot of reprieve. Each class will feature a targeted, physical sequence as well as meditation and pranayama (breathing) exercises. This class is appropriate for new and seasoned practitioners. <a href="about/#instructors">Learn more about Sarah</a></p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Restorative Yoga
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>By Donation | Suggested donation: $15</p>
                        <p>Thursdays 6:45pm - 7:45pm with Ellie</p>
                        <p>Restorative yoga is a delicious surrender into quiet, supported postures on bolsters, blankets and blocks. The practice facilitates deep release in connective tissue and calms the nervous system" so as to relieve the effects of chronic stress (Om Factory NYC). Various meditation strategies, pranayama (breath) exercises and relevant readings will be offered to invite ease and compassionate reflection. This class is appropriate for anyone seeking serenity and rejuvenation. <a href="about/#instructors">Learn more about Ellie</a>.</p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Yin Yoga
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p>By Donation | Suggested donation: $15</p>
                        <p>Mondays 8:15pm - 9:30pm with Yves</p>
                        <p>This slow paced and highly therapeutic style of Yoga is designed to complement a more active and stimulating exercise routine. With the use of long held postures, usually lasting between five and ten minutes per pose, and the carefully guided application of moderate stress on the joints, tendons, and ligaments, Yin Yoga helps to release deep tension in connective tissue structures and works to ease myofascial restrictions such as trigger points or knots, resulting in increased flexibility, range of motion, and circulation. As with all other styles of Yoga, emphasis is placed on mindful breathing techniques and contemplative self inquiry. The unique benefits of Yin Yoga also improve the flow of Qi through the body's meridians increasing vitality, immunity, and overall well-being. </p>
                        <p><a href="">Click Here to Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>