<template name="location">

    <div id="location">
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading">Our Location</h2>
                <p>We are located in the heart of Fort Greene, Brooklyn — four blocks from the Barclay's Center and the borough's main transit hub at Atlantic Terminal. We are located on the lower level at the corner of Lafayette Avenue and South Portland Street.</p>
                <p>Nearby Trains:</p>
                <p>
                    <span class="icon-2"></span>
                    <span class="icon-3"></span>
                    <span class="icon-4"></span>
                    <span class="icon-5"></span>
                    <span class="icon-C"></span>
                    <span class="icon-B"></span>
                    <span class="icon-D"></span>
                    <span class="icon-N"></span>
                    <span class="icon-Q"></span>
                    <span class="icon-R"></span>
                    <span class="icon-G"></span>
                </p>

                <p>84 Lafayette Avenue, Lower Level<br>
                    Brooklyn, NY 11217</p>
            </div>
            <div class="media-right">
                <div class="media-object">
                  {{> map}}
                </div>
            </div>
        </div>
    </div>

</template>