
<template name="footer">
    <div class="spacer"></div>
    <footer class="footer">
        <div class="container text-muted small">
            <div class="col-md-3">
                <p>MELT Massage NYC</p>
                <p>646-450-MELT (6358)</p>
                <p><a href="mailto:info@meltmassagenyc.com">info@meltmassagenyc.com</a></p>
                <p>84 Lafayette Avenue
                <br>Fort Greene, Brooklyn</p>
            </div>
            <div class="col-md-3">
                <p><a href="/">HOME</a></p>
                <p><a href="about">ABOUT</a></p>
                <p><a href="massage">MASSAGE</a></p>
                <p><a href="classes">CLASSES & WORKSHOPS</a></p>
            </div>
            <div class="col-md-3">
                <p>Made with &hearts; by <a href="http://www.cjlitch.com">Carly Litchfield.</a></p>
                <p>&copy; 2015</p>
            </div>
        </div>
    </footer>
</template>