<template name="upcoming">
    <div class="col-md-3">
        <div class="row">
            <div class="thumbnail">
                <div class="caption">
                    <h4>New Qigong Workshop!</h4>
                    <a href="#">Dragon's Way: A 6-week restorative and stress-reduction workshop: 2/4 - 3/11</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <h4>Massage & Class Gift Cards</h4>
                    <a href="#">Great for any occasion!</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <h4>Steady Roll</h4>
                    <a href="#">A foam rolling workshop
                        Sun. 2/8 or Sun. 3/1
                        6:00 - 7:30 pm
                        Register here!</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <h4>Thai Massage Workshop</h4>
                    <a href="#">Sat. 2/14 or Sun. 2/15
                        6:00 - 8:00 pm
                        Register here!</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <h4>Childbirth Education</h4>
                    <a href="#">Next Offerings:
                        February 1st & 8th
                        March 1st & 8th
                        April 12th & 19th</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <h4>Acupuncture & Massage Packages</h4>
                    <a href="#">See all packages here!</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <h4>Classes and Workshops</h4>
                    <a href="#">Yoga, Pilates, Strength Training & More!</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <a href="#">Open 9am - 9:30pm daily by Appointment Only</a>
                </div>
            </div>

            <div class="thumbnail">
                <div class="caption">
                    <a href="#">Testimonials</a>
                </div>
            </div>

        </div>
    </div>
</template>