
<template name="makesUsDifferent">
    <div class="col-md-8">
        <h3>What makes us different...</h3>
        <div class="spacer"></div>
        <div class="media">
            <div class="media-left">
                <div class="media-object icon-massage"></div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Therapeutic and Intuitive Massage</h4>
                <p>Our approach involves listening to your objectives and responding intuitively to your body.</p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <div class="media-object icon-therapists"></div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Experienced and Knowledgeable Therapists</h4>
                <p>Our therapists are trained in numerous modalities and can offer a rich perspective on any issue you've come to address.</p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <div class="media-object icon-warm"></div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">A Warm & Personalized Experience</h4>
                <p>Our therapists take the time to get to know you, and invite openness and communication.</p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <div class="media-object icon-customized"></div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Customized sessions instead of Standardized Menus</h4>
                <p>Instead of having you choose an option from a list, your treatment is 100% centered around the conversation you have with your therapist.</p>
            </div>
        </div>
    </div>
</template>